# Ignorar todos los archivos dentro de lab1/videos
labs/Lab1/data/videos/
labs/Lab1/data/texts/

labs/Lab2/images_lab/
labs/Lab2/secuencia_plaza/

labs/Lab3/*.parquet
labs/Lab3/*.pickle

labs/Lab4/*.parquet
labs/Lab4/*.pickle

proyecto_lab/*.parquet

# Ignorar todos los archivos dentro de lab1/texts
lab1/texts/*.txt

# Para no ignorar algún archivo específico, usa el signo de exclamación:
!lab1/texts/171.txt

labs/Lab8/