# Ignorar todos los archivos dentro de lab1/videos
labs/Lab1/data/videos/
labs/Lab1/data/texts/

labs/Lab2/images_lab/
labs/Lab2/secuencia_plaza/

labs/Lab3/*.parquet
labs/Lab3/*.pickle

labs/Lab4/*.parquet
labs/Lab4/*.pickle

proyecto_lab/*.parquet

# Ignorar todos los archivos dentro de lab1/texts
lab1/texts/*.txt

# Para no ignorar algún archivo específico, usa el signo de exclamación:
!lab1/texts/171.txt

labs/Lab8/mlruns/
labs/Lab8/models/
labs/Lab8/plots/
labs/Lab8/*.csv

labs/Lab9/*.csv
labs/Lab9/*.html
labs/Lab9/*.json
labs/Lab9/dags/raw/*.csv


#ignorar cualquier archivo .parquet o .pickle em proyecto lab o cualquier carpeta dentro
proyecto_lab/**/*.parquet
proyecto_lab/**/*.pickle

#ignorar cualquier archivo .log en proyecto lab o cualquier carpeta dentro
proyecto_lab/**/*.log

#ignorar cualquier png
*.png

*.csv

*.zip

*.pyc

*.json
*.log

