# Ignorar todos los archivos dentro de lab1/videos
lab1/videos/

# Ignorar todos los archivos dentro de lab1/texts
lab1/texts/*.txt

# Para no ignorar algún archivo específico, usa el signo de exclamación:
!lab1/texts/171.txt